.left_content {
    width: inherit;
    height: inherit;
    float: left;
}

#right_content {
    width: inherit;
    height: inherit%;
    display:inline-block;
}

#right_top_content {
    width: inherit;
    height: inherit;
    display:inline-block;
}

#right_bottom_content {
    height: 50%;
}

#content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

#Lefty{
    text-align:left;
}

#IMG_Avatar {
    height: 150px;
    width: 150px;
}