.mainHeader {
    width: 100%;
}

.main {
    font-family: Impact;
    font-size: 18px;
}
				
table, td {
    border: 0px solid black;
    border-collapse: collapse;
    width: inherit;
    padding: 5px;
}

tr > td:first-child {
    text-align: right;
    vertical-align: text-top;
}

.main {
    width: 535px;
    margin: auto;
    border: 1px solid black;
    font-family: Arial;
}

.radio {
    text-align: left;
	width: 130px;
    height: 20px;
    vertical-align: auto;
    padding: 2px;
    margin-left: 4px;
}

.textbox, input.ident, input.masked {
    width: 124px;
    height: 16px;
    padding: 2px;
    font-size: 14px;
}

div.ui-datepicker {
    font-size: 14px;
}
/* Esti je mets tout ca pi sa change fck all*/
.submitBTN{
    background-color:#4584c7;
    border-radius:28px;
	border:5px solid #1971ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #131066;
}
 .thumbnail {
    width: 140px;
    margin: auto;
    background-color: lightblue;
}

 .label {
    font-weight: 600;
 }

.radio {
    border: 1px solid black;
    font-size: 14px;
 }

 .radio td {
        float: left;
        padding: 2px;
 }

 .hightLite {
     background-color: rgb(255,200,200);
 }

 .panelLogs{
     border:5px solid black;
     overflow:scroll;
 }

